<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.SwipeRefreshLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:id="@+id/swipeToRefresh"
	android:layout_width="match_parent"
	android:layout_height="match_parent">

	<android.support.v4.widget.NestedScrollView
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:orientation="vertical"
		android:layout_width="match_parent"
		android:layout_height="match_parent">

		<LinearLayout
			xmlns:android="http://schemas.android.com/apk/res/android"
			android:orientation="vertical"
			android:gravity="center_horizontal"
			android:padding="20dip"
			android:layout_width="match_parent"
			android:layout_height="wrap_content">

			<TextView
				android:id="@+id/lblAgentStatisticsTitle"
				android:layout_width="wrap_content"
				android:layout_height="wrap_content"
				android:textColor="@color/loungetext_light"
				android:textSize="@dimen/label_large_fontsize"
				android:layout_marginTop="5dip"
				android:layout_marginBottom="0dip"
				android:layout_marginLeft="0dip"
				android:layout_marginRight="0dip"
				android:text="Title"/>

			<TextView
				android:id="@+id/lblAgentStatisticsSubTitle"
				android:layout_width="wrap_content"
				android:layout_height="wrap_content"
				android:textColor="@color/loungetext_light"
				android:textSize="@dimen/label_medium_fontsize"
				android:layout_marginTop="5dip"
				android:layout_marginBottom="0dip"
				android:layout_marginLeft="0dip"
				android:layout_marginRight="0dip" />

			<LinearLayout
				android:orientation="horizontal"
				android:layout_width="match_parent"
				android:layout_height="wrap_content">

				<LinearLayout
					android:orientation="horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_weight="1">

					<TextView
						android:id="@+id/lblAgentStatisticsCapacityTitle"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="0dip"
						android:layout_marginRight="0dip" />

					<TextView
						android:id="@+id/lblAgentStatisticsCapacityAmount"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:text="0"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="5dip"
						android:layout_marginRight="0dip" />

				</LinearLayout>

				<LinearLayout
					android:orientation="horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_weight="1"
					android:gravity="right">

					<TextView
						android:id="@+id/lblAgentStatisticsPrimaryTitle"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="0dip"
						android:layout_marginRight="0dip" />

					<TextView
						android:id="@+id/lblAgentStatisticsPrimaryAmount"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:text="0"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="5dip"
						android:layout_marginRight="5dip" />

				</LinearLayout>

			</LinearLayout>

			<LinearLayout
				android:orientation="horizontal"
				android:layout_width="match_parent"
				android:layout_height="wrap_content">

				<LinearLayout
					android:orientation="horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_weight="1">

					<TextView
						android:id="@+id/lblAgentStatisticsCurrentCustomersTitle"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="0dip"
						android:layout_marginRight="0dip" />

					<TextView
						android:id="@+id/lblAgentStatisticsCurrentCustomersAmount"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:text="0"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="5dip"
						android:layout_marginRight="0dip" />

				</LinearLayout>

				<LinearLayout
					android:orientation="horizontal"
					android:gravity="right"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_weight="1">

					<TextView
						android:id="@+id/lblAgentStatisticsGuestsTitle"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="0dip"
						android:layout_marginRight="0dip" />

					<TextView
						android:id="@+id/lblAgentStatisticsGuestsAmount"
						android:layout_width="wrap_content"
						android:layout_height="wrap_content"
						android:textColor="@color/loungetext_light"
						android:textSize="@dimen/label_small_fontsize"
						android:text="0"
						android:layout_marginTop="5dip"
						android:layout_marginBottom="0dip"
						android:layout_marginLeft="5dip"
						android:layout_marginRight="5dip" />

				</LinearLayout>

			</LinearLayout>

			<Com.Syncfusion.Charts.SfChart
				android:minWidth="25px"
				android:minHeight="25px"
				android:layout_width="match_parent"
				android:layout_height="@dimen/chart_height"
				android:id="@+id/chartView" />

                <SeekBar
        android:id="@+id/seekBar"
        android:max="100"
        android:progress="50"
        android:maxHeight="3dip"
                android:progressTint="#660e79d8"
                android:progressBackgroundTint="@android:color/darker_gray"
                android:thumbTint="@android:color/darker_gray"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"/>



			<RelativeLayout
				android:id="@+id/statisticsMiddleLayout"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:gravity="center_horizontal"
				android:layout_below="@+id/statisticsTopLayout">

				<Button
					android:id="@+id/lblAgentStatisticsTrafficGraphButton"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:textColor="@color/loungetext_light"
					android:textSize="@dimen/form_title"
					android:layout_toLeftOf="@+id/lblAgentStatisticsDwellGraphButton"
					android:layout_marginTop="5dip"
					android:layout_marginBottom="0dip"
					android:layout_marginLeft="0dip"
					android:layout_marginRight="0dip"
					android:text="chart-bar"/>

				<Button
					android:id="@+id/lblAgentStatisticsDwellGraphButton"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:textColor="@color/loungetext_light"
					android:textSize="@dimen/form_title"
					android:layout_marginTop="5dip"
					android:layout_marginBottom="0dip"
					android:layout_marginLeft="0dip"
					android:layout_marginRight="0dip"
					android:layout_alignParentRight="true"
					android:text="chart-line"/>


			</RelativeLayout>

			<LinearLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:paddingTop="20dip"
				android:orientation="horizontal">

				<Com.Syncfusion.Charts.SfChart
					android:id="@+id/pieChartView"
					android:minWidth="25px"
					android:minHeight="25px"
					android:layout_gravity="left"
					android:layout_width="0dip"
					android:layout_height="200dp"
					android:layout_weight="1" />

				<ListView
					android:id="@+id/lstAgentStatisticsLounges"
					android:nestedScrollingEnabled="true"
					android:listSelector="@null"
					android:layout_width="0dip"
					android:layout_height="wrap_content"
					android:layout_weight="1"
					android:layout_gravity="right"
					android:choiceMode="singleChoice"/>

			</LinearLayout>

		</LinearLayout>

	</android.support.v4.widget.NestedScrollView>

</android.support.v4.widget.SwipeRefreshLayout>
