<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/bg_dark"
    android:padding="0dip">
    <LinearLayout
        android:id="@+id/boardingPassHeader"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_alignParentTop="true"
        android:layout_margin="0dip"
        android:orientation="vertical"
        android:background="#D0E6F1">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_margin="0dip"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/lblFlightNumberLabel"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="10dip"
                android:layout_marginBottom="8dip"
                android:layout_marginRight="0dip"
                android:layout_marginLeft="17dip"
                android:textColor="@color/result_text_dark"
                android:textSize="@dimen/form_title_min"
                android:text="FLIGHT: " />
            <TextView
                android:id="@+id/lblFlightNumber"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="10dip"
                android:layout_marginBottom="8dip"
                android:layout_marginRight="0dip"
                android:layout_marginLeft="0dip"
                android:textColor="@color/result_text_light"
                android:textSize="@dimen/form_title_min"
                android:textStyle="bold"
                android:text="SQ202" />
            <TextView
                android:id="@+id/lblDepartureGateLabelTop"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="10dip"
                android:layout_marginBottom="8dip"
                android:layout_marginRight="0dip"
                android:layout_marginLeft="17dip"
                android:textColor="@color/result_text_dark"
                android:textSize="@dimen/form_title_min"
                android:text="GATE: " />
            <TextView
                android:id="@+id/lblDepartureGateTop"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="10dip"
                android:layout_marginBottom="8dip"
                android:layout_marginRight="0dip"
                android:layout_marginLeft="0dip"
                android:textColor="@color/result_text_light"
                android:textSize="@dimen/form_title_min"
                android:textStyle="bold"
                android:text="16" />
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_margin="0dip"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/lblSummaryAirlineNameLabel"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="0dip"
                android:layout_marginBottom="10dip"
                android:layout_marginRight="0dip"
                android:layout_marginLeft="17dip"
                android:textColor="@color/result_text_dark"
                android:textSize="@dimen/form_title_min"
                android:text="BY: " />
            <TextView
                android:id="@+id/lblSummaryAirlineName"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="0dip"
                android:layout_marginBottom="10dip"
                android:layout_marginRight="0dip"
                android:layout_marginLeft="0dip"
                android:textColor="@color/result_text_light"
                android:textSize="@dimen/form_title_min"
                android:textStyle="bold"
                android:text="Air Canada" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:id="@+id/boardingPassLogoHolder"
        android:layout_width="100dip"
        android:layout_height="100dip"
        android:layout_alignParentTop="true"
        android:layout_alignParentRight="true"
        android:layout_marginRight="20dip"
        android:orientation="vertical"
        android:background="#FF0000" />
    <ScrollView
        android:id="@+id/rootScrollView"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_below="@id/boardingPassHeader"
        android:layout_above="@+id/seperatorBeforeBarcodeDetailsButton"
        android:padding="0dip"
        android:scrollbars="vertical">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical">
            <LinearLayout
                android:id="@+id/boardingPassContentHolder"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:orientation="vertical">
                <LinearLayout
                    android:id="@+id/boardingPassTopSection"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="vertical"
                    android:layout_weight="1">
                    <TextView
                        android:id="@+id/lblDepartureDate"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_marginTop="25dip"
                        android:layout_marginBottom="0dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:textColor="@color/result_text_dark"
                        android:textSize="@dimen/form_title_min"
                        android:text="20 DEC 2013" />
                    <TextView
                        android:id="@+id/lblPassengerName"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_marginTop="0dip"
                        android:layout_marginBottom="10dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:textColor="@color/result_text_light"
                        android:textSize="@dimen/textbox_fontsize"
                        android:textStyle="bold"
                        android:text="Mr Peter Smart" />
                    <TextView
                        android:id="@+id/lblDepartureAirportLabel"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_marginTop="25dip"
                        android:layout_marginBottom="0dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:textColor="@color/result_text_dark"
                        android:textSize="@dimen/form_title_min"
                        android:text="FROM: ..." />
                    <TextView
                        android:id="@+id/lblDepartureAirport"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_marginTop="0dip"
                        android:layout_marginBottom="10dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:textColor="@color/result_text_light"
                        android:textSize="@dimen/textbox_height_min"
                        android:textStyle="bold"
                        android:text="Stockholm" />
                    <TextView
                        android:id="@+id/lblArrivalAirportLabel"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_marginTop="0dip"
                        android:layout_marginBottom="0dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:textColor="@color/result_text_dark"
                        android:textSize="@dimen/form_title_min"
                        android:text="To: ..." />
                    <TextView
                        android:id="@+id/lblArrivalAirport"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_marginTop="0dip"
                        android:layout_marginBottom="17dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:textColor="@color/result_text_light"
                        android:textSize="@dimen/textbox_height_min"
                        android:textStyle="bold"
                        android:text="Sydney" />
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:orientation="horizontal"
                        android:gravity="center_vertical"
                        android:layout_marginTop="0dip"
                        android:layout_marginBottom="0dip"
                        android:layout_marginRight="17dip"
                        android:layout_marginLeft="17dip"
                        android:weightSum="15">
                        <ImageView
                            android:id="@+id/imgArrivalWeather"
                            android:layout_width="55dip"
                            android:layout_height="55dip"
                            android:scaleType="centerInside"
                            android:layout_gravity="center_vertical"
                            android:layout_weight="2"
                            android:src="@drawable/wt_03" />
                        <TextView
                            android:id="@+id/lblArrivalWeatherTemperature"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_gravity="center_vertical"
                            android:textColor="@color/result_text_dark"
                            android:textSize="@dimen/form_title_min"
                            android:textStyle="bold"
                            android:layout_weight="3"
                            android:text="23℃" />
                        <ImageView
                            android:id="@+id/imgRemainingDepartureTime"
                            android:layout_width="30dip"
                            android:layout_height="30dip"
                            android:scaleType="centerInside"
                            android:layout_gravity="center_vertical"
                            android:layout_weight="2"
                            android:src="@drawable/time_small_darkred" />
                        <TextView
                            android:id="@+id/lblRemainingDepartureTime"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_gravity="center_vertical"
                            android:textColor="@color/result_text_dark"
                            android:textSize="@dimen/form_title_min"
                            android:textStyle="bold"
                            android:layout_weight="3"
                            android:text="+10hrs" />
                        <ImageView
                            android:id="@+id/imgDepartureTime"
                            android:layout_width="30dip"
                            android:layout_height="30dip"
                            android:scaleType="centerInside"
                            android:layout_gravity="center_vertical"
                            android:layout_weight="2"
                            android:src="@drawable/arrival_time_small_darkred" />
                        <TextView
                            android:id="@+id/lblDepartureTime"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_gravity="center_vertical"
                            android:textColor="@color/result_text_dark"
                            android:textSize="@dimen/form_title_min"
                            android:textStyle="bold"
                            android:layout_weight="3"
                            android:text="09:15AM" />
                    </LinearLayout>
                </LinearLayout>
                <LinearLayout
                    android:id="@+id/boardingPassMiddleSection"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="vertical"
                    android:layout_margin="10dip"
                    android:layout_weight="1">
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_margin="7dip"
                        android:padding="10dip"
                        android:background="@drawable/bg_tile_boardingpass"
                        android:orientation="vertical">
                        <TextView
                            android:id="@+id/lblBoardingTimeLabel"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="BOARDING AT"
                            android:textColor="@color/result_text_dark"
                            android:layout_marginBottom="0dip" />
                        <TextView
                            android:id="@+id/lblBoardingTime"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:textColor="@color/result_text_light"
                            android:textSize="@dimen/textbox_fontsize"
                            android:textStyle="bold"
                            android:text="08:45AM" />
                    </LinearLayout>
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:orientation="horizontal"
                        android:weightSum="3">
                        <LinearLayout
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:orientation="vertical"
                            android:layout_margin="7dip"
                            android:padding="10dip"
                            android:background="@drawable/bg_tile_boardingpass"
                            android:layout_weight="1">
                            <TextView
                                android:id="@+id/lblTerminalLabel"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:text="TERMINAL"
                                android:textColor="@color/result_text_dark"
                                android:layout_marginBottom="0dip" />
                            <TextView
                                android:id="@+id/lblTerminal"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:textColor="@color/result_text_light"
                                android:textSize="@dimen/textbox_fontsize"
                                android:textStyle="bold"
                                android:text="3" />
                        </LinearLayout>
                        <LinearLayout
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:orientation="vertical"
                            android:layout_margin="7dip"
                            android:padding="10dip"
                            android:background="@drawable/bg_tile_boardingpass"
                            android:layout_weight="1">
                            <TextView
                                android:id="@+id/lblDepartureGateLabel"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:text="GATE"
                                android:textColor="@color/result_text_dark"
                                android:layout_marginBottom="0dip" />
                            <TextView
                                android:id="@+id/lblDepartureGate"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:textColor="@color/result_text_light"
                                android:textSize="@dimen/textbox_fontsize"
                                android:textStyle="bold"
                                android:text="16" />
                        </LinearLayout>
                        <LinearLayout
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:orientation="vertical"
                            android:layout_margin="7dip"
                            android:padding="10dip"
                            android:background="@drawable/bg_tile_boardingpass"
                            android:layout_weight="1">
                            <TextView
                                android:id="@+id/lblSeatLabel"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:text="SEAT"
                                android:textColor="@color/result_text_dark"
                                android:layout_marginBottom="0dip" />
                            <TextView
                                android:id="@+id/lblSeat"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:textColor="@color/result_text_light"
                                android:textSize="@dimen/textbox_fontsize"
                                android:textStyle="bold"
                                android:text="56E" />
                        </LinearLayout>
                    </LinearLayout>
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_margin="7dip"
                        android:padding="10dip"
                        android:background="@drawable/bg_tile_boardingpass"
                        android:orientation="vertical">
                        <TextView
                            android:id="@+id/lblFFNLabel"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:text="LOYALTY NUMBER"
                            android:textColor="@color/result_text_dark"
                            android:layout_marginBottom="0dip" />
                        <TextView
                            android:id="@+id/lblFFN"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:textColor="@color/result_text_light"
                            android:textSize="@dimen/textbox_fontsize"
                            android:textStyle="bold"
                            android:text="FF00000" />
                    </LinearLayout>
                </LinearLayout>
            </LinearLayout>
            <View
                android:id="@+id/servicesSeparatorBefore"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:background="@android:color/black" />
            <RelativeLayout
                android:id="@+id/pnlServices"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <TextView
                    android:id="@+id/lblServicesLabel"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Services"
                    android:layout_alignParentLeft="true"
                    android:layout_toLeftOf="@+id/lblPriceSum"
                    android:layout_marginTop="10dip"
                    android:layout_marginBottom="0dip"
                    android:layout_marginRight="0dip"
                    android:layout_marginLeft="0dip"
                    android:textSize="@dimen/label_fontsize"
                    android:textColor="@color/loungetext_dark"
                    android:layout_margin="10dip" />
                <TextView
                    android:id="@id/lblPriceSum"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="0$"
                    android:layout_alignParentRight="true"
                    android:layout_marginTop="10dip"
                    android:layout_marginBottom="0dip"
                    android:layout_marginRight="0dip"
                    android:layout_marginLeft="0dip"
                    android:textSize="@dimen/label_fontsize"
                    android:textColor="@color/loungetext_dark"
                    android:layout_margin="10dip" />
            <!--android:text="95$"-->
            </RelativeLayout>
            <View
                android:id="@+id/servicesSeparatorAfter"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:background="@android:color/black" />
            <ListView
                android:id="@+id/lstServices"
                android:layout_width="match_parent"
                android:layout_height="wrap_content" />
        </LinearLayout>
    </ScrollView>
    <View
        android:id="@id/seperatorBeforeBarcodeDetailsButton"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_above="@+id/pnlBarcodeDetailsButton"
        android:background="@android:color/black" />
    <RelativeLayout
        android:id="@id/pnlBarcodeDetailsButton"
        android:layout_margin="10dip"
        android:layout_alignParentBottom="true"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
        <Button
            android:id="@+id/btnBarcodeDetails"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Details"
            android:padding="3dip"
            android:layout_alignParentRight="true"
            android:background="@drawable/defaultbutton"
            android:textSize="@dimen/button_fontsize"
            android:textColor="@color/button_textcolor" />
    </RelativeLayout>
</RelativeLayout>