<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:background="@drawable/card_selection_border"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:focusableInTouchMode="true"
    android:focusable="true">
    <LinearLayout
        android:id="@+id/pnlCardsTitle"
        android:layout_width="match_parent"
        android:layout_height="52dip"
        android:orientation="horizontal"
        android:layout_alignParentTop="true">
        <ImageView
            android:id="@+id/imgCardsTitle"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:scaleType="fitCenter"
            android:layout_margin="5dip"
            android:layout_gravity="center_vertical"
            android:src="@drawable/airline_ac" />
        <TextView
            android:id="@+id/lblCardsTitle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textSize="@dimen/form_title_min"
            android:textColor="@color/loungetext_light"
            android:layout_gravity="center_vertical"
            android:text="Selected lounge and Username" />
    </LinearLayout>
    <RelativeLayout
        android:id="@+id/pnlCardSearch"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:padding="5dip">
        <AutoCompleteTextView
            android:id="@+id/txtCardSearch"
            android:layout_width="0dip"
            android:layout_height="@dimen/textbox_height"
            android:layout_alignParentLeft="true"
            android:layout_alignParentRight="true"
            android:paddingRight="65dip"
            android:singleLine="true"
            android:lines="1"
            android:ellipsize="end"
            android:textSize="@dimen/textbox_fontsize"
            android:textColor="@color/textbox_text"
            android:background="@drawable/searchborder"
            android:hint="Search..."
            android:textColorHint="@color/textbox_hint"
		    android:dropDownSelector="@color/listSelector" />
        <ImageButton
            android:id="@+id/btnCardSearch"
            android:layout_width="41dip"
            android:layout_height="41dip"
            android:layout_alignParentRight="true"
            android:background="@drawable/btn_transparent_border"
            android:layout_margin="4dip"
            android:scaleType="centerInside"
            android:src="@drawable/btn_search1" />
    <!--android:textSize="@dimen/button_fontsize"
        android:textColor="@color/bright_green"-->
    <!--<Button
            android:id="@+id/btnCardSearch"
            android:layout_width="41dip"
            android:layout_height="41dip"
            android:layout_alignParentRight="true"
            android:textSize="@dimen/button_fontsize"
            android:background="@drawable/btn_transparent_border"
            android:textColor="@color/bright_green"
            android:layout_margin="4dip"
            android:text="Go" />-->
        <ImageButton
            android:id="@+id/btnCardResetSearch"
            android:layout_width="41dip"
            android:layout_height="41dip"
            android:layout_toLeftOf="@id/btnCardSearch"
            android:background="@drawable/btn_transparent_border"
            android:layout_margin="4dip"
            android:scaleType="centerInside"
            android:src="@drawable/btn_refresh1" />
    </RelativeLayout>
    <GridView
        android:id="@+id/grdCards"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:columnWidth="@dimen/item_column_width"
        android:numColumns="auto_fit"
        android:listSelector="@color/listSelector"
        android:verticalSpacing="10dip"
        android:horizontalSpacing="10dip"
        android:stretchMode="columnWidth"
        android:layout_marginTop="2dip"
        android:layout_marginBottom="8dip"
        android:layout_marginLeft="4dip"
        android:layout_marginRight="4dip"
        android:gravity="center" />
</LinearLayout>